/*** REGOLE DI DEBUG ***/

[class*="col-"] {
  /* height: 100%;
  border: solid 1px #000; */
}

/* .row {
  background-color: lightgreen;
} */

/*** REGOLE GENERALI ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

[class*="col-"] h3 {
   font-weight: 800;
   font-style: bold;
}


/*** HEADER ***/

/* ** Navbar ** */

/* nav .nav-style {
  background-color: blue;
} */

nav {
  height: 55px;
}

nav .logo {
  width: 120px;
  padding-left: 10px;
}

/* .navbar-left:nth-of-type(odd)::after {
  content: >; ?????????????????????????????????????????????
} */

.button-sign {
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: transparent;
  box-sizing: border-box;
}

/* ** Jumbotron ** */

#jumbotron {
  margin-top: 55px;
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  background-position: center;
  height: 750px;
  text-align: left;
}

#jumbotron .row {
  vertical-align: center;
}

#jumbotron h1 {
  color: white;
  font-size: 63px;
  margin-top: 200px;
}


  /* Box sign del Jumbotron */

  .deploy {
  background-color: white;
  border-radius: 5px;
  margin: 200px 0;
  width: 70px;
}

.deploy h2 {
  font-weight: 600;
  color: black;
}

.deploy h3 {
  font-weight: 600;
  color: rgb(24, 78, 186);
}

input {
  font-weight: 600;
  margin: 10px auto;
  padding: 5px 0;
  width: 80%;
}

.box-sign-in .account,
.box-sign-in .google {
  font-weight: 600;
  margin: 10px auto;
  padding: 5px 0;
  width: 80%;
}

.box-sign-in .account{
  background-color: rgb(70, 142, 242);
  border-radius: 5px;
  box-shadow: 2px 2px rgba(166, 166, 166,0.5);
}
.box-sign-in .account a {
  color: white;
}

.box-sign-in .google {
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(166, 166, 166,0.5);
}

.google i{
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(70, 142, 242);
}

.box-sign-in .google a {
  color: black;
}

/* MAIN */

#customers {
  padding: 30px;
}

#customers img {
  max-width: 18rem;
  padding: 20px 0;
  display: inline-block;
}
#deploy ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#deploy li{
  color: rgb(77,84,99);
  border-left: 2px solid grey;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.deploy-icons {
  text-align: left;
}

#developers img {
  max-width: 85%;
}

#developers h6 {
  font-weight: 600;
}

.fa-circle {
  color: blue;
  font-weight: 800;
}


section .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#started .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

#started {
  background: blue;
  margin-top: 100px;
}


#started h3 {
  color: white;
}

#started h4 {
  color: rgb(70, 142, 242);
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
  display: inline-block;
}
/* FOOTER */
