/*** REGOLE DI DEBUG ***/

[class*="col-"] {
  /* height: 100%;
  border: solid 1px #000; */
}

/* .row {
  background-color: lightgreen;
} */

/*** REGOLE GENERALI ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/*** HEADER ***/

/* ** Navbar ** */

nav .nav-style {
  background-color: blue;
}

nav {
  height: 35px;
}

nav .logo {
  width: 15rem;
  vertical-align: middle;
  padding-left: 10px;
}

.button-sign {
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
}

/* ** Jumbotron ** */

#jumbotron {
  margin-top: 35px;
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  background-position: center;
  height: 550px;
  text-align: left;
}

#jumbotron .row {
  vertical-align: center;
}

#jumbotron h1 {
  color: white;
  margin-top: 85px;
  font-size: 63px;
}

  /* Box sign del Jumbotron */

  .deploy {
  background-color: white;
  border-radius: 5px;
  margin: 30px 0;
}

.deploy h2 {
  font-weight: 600;
  color: black;
}

.deploy h3 {
  font-weight: 600;
  color: rgb(24, 78, 186);
}

.box-sign-in .account,
.box-sign-in .google {
  font-weight: 600;
  margin: 10px auto;
  padding: 5px 0;
  width: 80%;
}

.box-sign-in .account{
  background-color: rgb(70, 142, 242);
  border-radius: 5px;
}
.box-sign-in .account a{
  color: white;
}


/* MAIN */

#customers {
  padding: 30px;
  background-color: rgb(184, 184, 148);
}

#customers img {
  display: inline-block;
  width: 15rem;
  background-color: none;
  padding: 20px 0;
}



/* FOOTER */
