/* REGOLE DI DEBUG */

[class*="col-"] {
  height: 100%;
  border: solid 1px #000;
}

.row {
  background-color: lightgreen;
}

body {
  background-color: red;
}

/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

nav .nav-style {
  background-color: blue;
}

nav {
  height: 35px;
}

.logo {
  width: 15rem;
}

#jumbotron {
  margin-top: 35px;
  background-image: url(../img/jumbo.svg);
  /* background-size: cover;
  background-position: center; */
  height: 550px;
}

/* MAIN */


/* FOOTER */
